%section#about.section.gap-1.top.text-edit
  .container
    .row
      .col-sm-6.col-lg-6.column
        %h1.heading-light
          HELLO
          %br
          I'M WES
        %p.size-1
          I'm a front-end and back-end web developer located primarily in Denver,
          currently working at
          %strong Galvanize.
          I love working with individuals and businesses to refine their current
          brands or get a new project off the ground. Please let me know if I can
          help you get a new site started or if you need help managing a new project.
        .divider-1
      .col-sm-6.col-lg-6.column
        %p.text-center
          = image_tag("about/selfie.png")
