%section#clients.section.gap-1.text-edit
  .container
    .row
      .col-md-12.column
        %ul.tiles
          %li.right-b
            %a{:href => "#"}
              = image_tag("clients/turbovote.png")
          %li.right-b
            %a{:href => "#"}
              = image_tag("clients/ballot-scout.png")
          %li.right-b
            %a{:href => "#"}
              = image_tag("clients/cool-culture.png")
          %li
            %a{:href => "#"}
              = image_tag("clients/after-steps.png")
        .clearfix