%footer#footer-1
  .container
    .row
      .col-lg-6.col-sm-6
        © B. Wesley Reid. All rights reserved.
      .col-lg-6.col-sm-6.text-right
        %a.social-1{:href => "http://github.com/bwreid"}
          %i.fa.fa-github
        %a.social-1{:href => "http://linkedin.com/in/bwreid"}
          %i.fa.fa-linkedin