%section#countdown.section.text-edit.parallax.gap-1
  .container
    .row
      .col-lg-3.col-sm-3.column
        .countdown.white
          %span{"data-from" => "0", "data-to" => "856"} 0
          %p Commits this Year
      .col-lg-3.col-sm-3.column
        .countdown.white
          %span{"data-from" => "0", "data-to" => "4285"} 0
          %p Cups of Coffee
      .col-lg-3.col-sm-3.column
        .countdown.white
          %span{"data-from" => "0", "data-to" => "211"} 0
          %p Donated Hours
      .col-lg-3.col-sm-3.column
        .countdown.white
          %span{"data-from" => "0", "data-to" => "5"} 0
          %p Golden Rings