%nav#main-menu.effect-on.effect-on
  .container
    .row
      .col-md-12.desktop-menu
        #logo
          .tb
            .tb-cell

        .menu-container.visible-lg.visible-md
          %ul
            %li
              %a{:href => "#home"} HOME
            %li
              %a{:href => "#about"} ABOUT
            %li
              %a{:href => "#{root_url(subdomain: 'blog')}"} BLOG
            %li
              %a{:href => "#services"} SERVICES
            %li
              %a{:href => "#portfolio"} PORTFOLIO
            %li
              %a{:href => "#contact"} CONTACT
        #mobile-button.visible-sm.visible-xs
          %i.fa.fa-bars
        .clearfix
  #mobile-menu.visible-sm.visible-xs
    .menu-container
      .container
        .row
          .col-md-12
            %ul
              %li
                %a{:href => "#home"} HOME
              %li
                %a{:href => "#about"} ABOUT
              %li
                %a{:href => "#{root_url(subdomain: 'blog')}"} BLOG
              %li
                %a{:href => "#services"} SERVICES
              %li
                %a{:href => "#portfolio"} PORTFOLIO
              %li
                %a{:href => "#contact"} CONTACT
          .clearfix