%section#services.section.gap-1.bg-1.text-edit
  .container
    .row
      .col-sm-6.col-lg-6.column
        %article.infobox-1
          %header
            %h5 Project Management
          %i.icon-puzzle
          %p Have an idea but aren't sure what to do next? Work with me to put together a timeline and technology plan, so that your project is set up for success from the beginning. To make sure we're on the same page we'll use tools like Pivotal, BaseCamp, and Google Docs for file and content sharing.
        %article.infobox-1
          %header
            %h5 Development
          %i.icon-gears
          %p Ruby on Rails, Wordpress, Squarespace; I have experience building sites of various types and sizes and will work with you to pick the right tools for the job. For established projects, I look to add my expertise where I can; for newer projects, I aim to have you set up for success now and in the future.
      .col-sm-6.col-lg-6.column
        %article.infobox-1
          %header
            %h5 Responsive Design
          %i.icon-mobile
          %p "Pixel Perfect" doesn't mean the same thing it used. Work with me to ensure your project is beautiful on every device and platform possible, including email. I have experience working with a number of frameworks as well including Bootstrap, Foundation, Skeleton, and Bourbon. 
        %article.infobox-1
          %header
            %h5 Smart Pricing &amp; Support
          %i.icon-lightbulb
          %p I charge flat rates for scoped work and then go the extra mile to make sure it's delivered. My goal is to work with you to create a great product and to get you to come back the next time you need a new feature or site built out; not to string you along for extra hours.